 </div  <%= email.id %> >

<p> Objet : <%= email.object %></p>
<p><%= email.body %></p>

<div class="row">
  <div class="col">
  <button type="button" class="btn btn-danger">Supprimer</button>
  <button type="button" class="btn btn-info">En savoir plus</button>
  </div>
</div>  

</div> 