
<div class="container">
  <table class="table table-sm table-bordered table-dark col-8 center" style="margin-left:13px;">
  <button type="button" class="btn btn-white border-primary" style="margin-left:13px;"> 
  <%= link_to 'Recevoir un email', emails_path, method: :post, remote: true%>
  </button>
<br>
<br>
    <thead class="thead-dark">
      <tr>
        <th scope="col" >Liste des emails</th>
        <th scope="col">Email sélectionné</th>
      </tr>
    </thead>
    <tbody> 
  <%@emails.each do |email|%>
      <tr><%= render 'email', email: email %></tr>
    
    </tbody>
    <% end %>
    
  </table>
  
  
</div> 




